:root {
  --logo-bg-color:#4A704B;
  --nav-hover-bg-color:#1EEB16;
  --body-bg-color: hsl(118, 50%, 90%);
  --font-color: black;
  font-size: 14pt;
  font-family: sans-serif;
}

*{
  box-sizing: border-box;
}

body,nav,li,ul {
  margin: 0px;
  padding: 0px;
}

.cover-image{
  width: 100%;
  object-fit: cover;
}

main{
  height: 80vh;
}

body {
  background-color: var(--body-bg-color);
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.nav-items{
  list-style: none;
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  background-color: var(--logo-bg-color);
  align-items: center;
  justify-content: center;
}

footer {
  background-color: var(--logo-bg-color);
  min-height: 40px;
}

.nav-items > li {
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-items > li:hover {
  background-color: var(--nav-hover-bg-color);
}

.nav-items > li a{
  flex-basis: 1;
  padding: 0.5em;
  text-decoration: none;
  color: var(--font-color);
  font-size: 2rem;
  font-weight: bold;
  color: #EB7115;
}

.nav-items > li:hover a{
  color: var(--logo-bg-color)
}

.nav-logo {
  height: 100px;
  max-width: 600px;
  object-fit: cover;
}

.home-page-heading{
  position: relative;
  text-align: center;
  padding: 20px 0px;
  margin: 0px auto;
  width: 400px;
  top:-55px;
  background-color: aliceblue;
  border-style: solid;
  border-width: 6px;
}

.home-page-content{
  position: relative;
  top: -55px;
  margin: 0px auto;
  max-width: 850px;
  padding: 10px;
  font-size: 1.25rem;
}

@media (max-width:1000px){
  header{
    flex-direction: column;
    padding: 0px;
  }
  nav{
    width: 100%;
  }
  .nav-items{
    flex-direction: column;
    width: 100%;
  }

  .nav-items li a{
    width:100%;
    text-align: center;
  }
}

@media (max-width:520px)
{
    .home-page-content,.home-page-heading{
    position: static;
  }

  body{
    height: 130vh;
  }

    :root{
    font-size: 12pt;
  }
}

@media (max-width: 470px){
  body {
    height: 150vh;
  }

}